{
  "singleQuote": true,
  "pugSingleQuote": false,
  "pugClassLocation": "before-attributes",
  "pugIdNotation": "as-is",
  "pugAttributeSeparator": "none",
  "pugExplicitDiv": false,
  "pugEmptyAttributes": "none",
  "semi": true
}
